* {
    margin: 0px;
    padding: 0px;
}

 .nav, .nav-links{
    display: flex;
    align-items: center;
    background-color: rgb(54, 54, 54);
    color: white;
    justify-content: space-between;
    padding: 0.5%;
    font-family: 'Roboto', sans-serif;
}
.nav {
    margin: 0.5%;
}

.nav-links {
    width: 23%;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}

.btn{
    background-color: rgb(18, 228, 228);
    border: black 2px solid;
    box-shadow: 10px 5px 10px black;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}